# Python artifacts
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# AWS SAM and CDK build artifacts
.aws-sam/
cdk.out/

# Environment variable files
.env
.env.local
.env.*.local

# Operating system files
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Kiro
.kiro/

#env.json
env.json